#game_stats {
    background: $background;
    height: auto;
}

#game_stats Static {
    width: 1fr;
    border: solid $accent;
    content-align: center middle;
}

#player_container {
    overflow-y: auto
}