Vertical Label {
    padding: 1;
}

Horizontal {
    height: 3;
}

.capacity {
    width: 6;
    dock: right;
    border-left: heavy rgb(239, 243, 243);
}

.lobby_names {
    width: 32;
    border-right: heavy rgb(239, 243, 243);
}

.players {
    width: auto;
}

.rows {
    padding-left: 2;
    padding-right: 2;
}

ListView {
    background: rgb(5, 11, 29);
}

.header {
    background: rgb(42, 206, 206);
}

#lobby_selector{
    border: heavy rgb(239, 243, 243);
    background: white;
}

DataTable {
    width: 50%;
    height: 50%;
}

DataTable .datatable--header {
    background: $panel;
    color: white;
    text-style: bold;
}

DataTable > .datatable--header-hover {
    /* Set background and color to match standard header styling */
    background: $panel;
    color: white;
}