ListView Label {
    padding: 1;
}

Horizontal {
    height: 3;
}

.capacity {
    width: 6;
    dock: right;
    border-left: heavy rgb(126, 37, 37);
}

.lobby_names {
    width: 32;
    border-right: heavy rgb(126, 37, 37);
}

.players {
    width: auto;
}

.rows {
    padding-left: 2;
    padding-right: 2;
}

ListView {
    border: heavy rgb(126, 37, 37);
}